.header-container {
    max-width: 1280px;
}
.logo-container {
    max-width: 200px;
}
.upload-file-container {
    max-width: 20px;
}
.header-container {
    justify-content: space-between;
    padding: 1.5em 0;
}
.upload-label {
    color: #FFF;
    text-transform: uppercase;
    padding-right: 1em;
}